* {
  margin: 0;
  padding: 0;
}

/* ------ HEADER NAVBAR -------- */

body {
  max-width: 100vw;
  background: #e3e6e6;
  font-family: 'roboto';
  font-size: 16px;
  color: #502501;
}

.navbar {
  top: 0px;
  position: fixed;
  width: 99.55%;
  height: 90px;
  display: flex;
  background: #034188;
  padding: 3px;
  gap: 0px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px 8px 0px 0px;

}

.navbar>.logo-link {
  height: 70%;
  width: 150px;
  margin-left: 10px;
  padding: 5px;
}

.navbar .logo-link:hover {
  border: 1px solid #fff;
}

.navbar>.logo-link>img {
  height: 100%;
  width: 90%;

}

.search {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}

.search input {
  align-self: center;
  height: 40px;
  width: 60%;
  padding-left: 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.search img {
  height: 20px;
  border: none;
  margin-top: 6px;
  margin-left: 2px;
}

.search .img-div {
  background-color: #6d660d;
  padding: 5px;
  height: 30px;
  margin-top: 0px;
  width: 24px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.users {
  width: 150px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.users:hover{
  transform: scale(1.1);
}

.user-icons {
  width: 36px;
  height: 36px;
  font-size: 32px;
}

.user-icons {
  font-size: 30px;
  color: #ffcc00;
}

.user-details p,
span {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: bottom;
}

.user-details:hover p {
  color: #ffcc00;
  
}

.user-details:hover span {
  color: #ffcc00;
}

.returns {
  width: 110px;
  height: 40px;
  margin-right: 1%;
  padding: 5px
}

.returns a {
  text-decoration: none;
}

.returns:hover {
  border: 1px solid #502501;
}

.returns p {
  color: #fff;
  font-weight: 600;
  font-weight: lighter;
  font-size: 1rem;
}

.returns span {
  color: #fff !important;
  font-weight: bold;

}

.cart-icon {
  margin-right: 3%;

}

.cart-icon a {
  margin-right: 2%;
  display: flex;
  gap: 10px;
  align-items: center;
  gap: 0px;
  text-decoration: none;
  padding: 7px;
}

.cart-icon a:hover {
  border: 1px solid #502501;
}

.cart-icon img {
  width: 50px
}

.cart-quantity {
  text-decoration: none;
  color: yellow !important;
  position: relative;
  right: 30%;
  top: -5px;
  font-weight: 600;
  font-size: 1rem;
}

.cart-icon p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

@media (max-width: 1106px) {

  .returns a p,
  span {
    font-size: 0.9rem;
  }

  .cart-icon {
    width: 100px;
    justify-self: end;
  }

  .cart-icon img {
    width: 60px
  }
}

@media (max-width: 865px) {

  .returns a p,
  span {
    font-size: 0.7rem;
  }

  .cart-icon {
    margin-right: 4%;
  }

  .cart-icon img {
    width: 50px
  }
}

@media (max-width: 570px) {
  .returns {
    width: 210px
  }

  .cart-icon {
    margin-right: 5%
  }

  .cart-icon img {
    width: 40px
  }

}

/* ------Products Container Styling------ */

.all-products {
  margin-top: 0;
  max-width: 99.9%;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0px;
  background: #fff
}

.cover-products {
  max-width: 99.9%;
  margin-top: 100px;
  display: none;
  grid-template-columns: repeat(6, 1fr);
  gap: 0px;
}

.products-container {
  margin-top: 0px;
  padding-top: 30px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  overflow: hidden;
}

/* Product Image */
.products-img {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-img img {
  max-height: 80%;
  max-width: 80%;
  object-fit: contain;
}

.products-details {
  margin-left: 15px;
  padding-right: 20px;
  margin-top: 0px;
  width: 85%
}

.name {
  height: 70px;
  /* color: #7c0376; */
}

.rating {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.rating p {
  color: #034188;
}

.price {
  margin-top: 10px;
  font-weight: bold;
  color: #034188;
}

select {
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 8px #0000001a;
  background-color: #f0f0f0;
  height: 26px;
  width: 50px;
  border: none;
  padding: 0px 5px;
}

.add-signal {
  position: relative;
  top: 40px;
  /* margin-left: 50px; */
  text-align: center;
  color: green;
  font-weight: 700;
  opacity: 0;
}


.cart-btn {
  margin-left: 3%;
  margin-top: 50px;
  font-size: 0.8rem;
  padding: 5px;
  border: none;
  border-radius: 20px;
  background-color: #6d660d;
  width: 90%;
  height: 35px;
  margin-bottom: 10%;
  cursor: pointer;
  color: #fff;
  transition: .5s ease
}

.cart-btn:hover {
  background-color: #262600;
  color: #fff;
}

@media (min-width: 1555px) {
  .all-products {
    grid-template-columns: repeat(7, 1fr)
  }
}

@media (min-width: 1790px) {
  .all-products {
    grid-template-columns: repeat(8, 1fr)
  }

}

@media (max-width: 1335px) {
  .all-products {
    grid-template-columns: repeat(5, 1fr)
  }
}

@media (max-width: 1115px) {
  .all-products {
    grid-template-columns: repeat(4, 1fr)
  }
}

@media (max-width: 890px) {
  .all-products {
    grid-template-columns: repeat(3, 1fr)
  }
}

@media (max-width: 667px) {
  .all-products {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (max-width: 445px) {
  .all-products {
    display: block;
  }

  .products-img {
    height: 50%;
    width: 60%
  }
}