.navbar{
  top: 0px;
  right: 0px;
  position: fixed;
  width: 99.7%;
  height: 50px;
  display: flex;
  background-color: #131921;
  padding: 3px;
  gap: 10px;
  align-items: center;
  border-radius: 8px 8px 0px 0px;
  
}

.navbar > .logo-link {
  height: 70%;
  width: 150px;
  margin-left: 10px;
  padding: 5px;
}

.navbar .logo-link:hover{
  border: 1px solid #fff;
}

.navbar > .logo-link > img{
  height: 100%;
  width: 100%;

}

.navbar > .logo-link > .mobile-img{
  display: none;
}

@media (max-width: 500px) {
  .navbar > .logo-link > .mobile-img{
    display: block;
    height: 100%;
    width: 80%
  }

  .navbar > .logo-link > img{
    display: none;
  }
}

.search{
  margin-left: 2%;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: center;
}
.search input{
  align-self: center;
  height: 40px;
  width: 60%;
  padding-left: 20px;
  border-radius: 5px 0px 0px 5px;
  border: none;
}

.search img{
  height: 20px;
  border: none;
  margin-top: 6px;
  margin-left: 2px;
}

.search .img-div{
  background-color: #febd69;
  padding: 5px;
  height: 32px;
  margin-top: 0px;
  width: 24px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.returns{
  width: 110px;
  height: 40px;
  margin-right: 1%;
  padding: 5px;
}

.returns a{
  text-decoration: none;
}

.returns:hover{
  border: 1px solid #fff;
}

.returns p{
  margin-top: 0px;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 0px;
}

.returns a span{
  color: white;
  font-weight: bold;
  margin-top: -50px !important
}

.cart-icon{
  margin-right: 3%;
  
}

.cart-icon a{
  margin-right: 2%;
  display: flex;
  gap: 10px;
  align-items: center;
  gap: 0px;
  text-decoration: none;
  padding: 7px;
}

.cart-icon a:hover{
  border: 1px solid #fff;
}

.cart-icon img{
  width: 50px
}

.cart-quantity{
  text-decoration: none;
  color: #fff;
  position: relative;
  right: 30%;
  top: -5px;
  font-weight: 600;
  font-size: 1rem;
}

.cart-icon p{
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}



@media (max-width: 1106px) {
  .returns a p, span{
    font-size: 0.9rem;
  }

  .cart-icon{
    width: 100px;
    justify-self:  end;
  }

  .cart-icon img{
    width: 60px
  }
}

@media (max-width: 865px) {
  .returns a p, span{
    font-size: 0.7rem;
  }

  .cart-icon{
    margin-right: 4%;
  }

  .cart-icon img{
    width: 50px
  }
}

@media (max-width: 570px) {
  .returns{
    width: 210px
  }

  .cart-icon{
    margin-right: 5%
  }
  .cart-icon img{
    width: 40px
  }
  
}

/* --------------Order Body------------- */

.order-text {
  margin-top: 100px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

/* Wrapper */
.order-cover {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* Card */
.order-box {
  width: 100%;
  max-width: 1100px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

/* Header */
.box-head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  background: #034188;
  color: #fff;
  border-radius: 12px 12px 0 0;
}

.box-head p {
  font-size: 1rem;
  font-weight: 600;
}

/* Body */
.con-prod-body {
  display: grid;
  grid-template-columns: 120px 1fr 200px;
  gap: 1.5rem;
  padding: 1.5rem;
  align-items: center;
}

.body-left img {
  width: 100%;
  max-width: 120px;
}

.body-center {
  font-size: 1rem;
}

.body-center button {
  margin-top: 0.5rem;
  background: #6d660d;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

button img{
  width: 25px;
}

.body-center button:hover {
  background: #b1a505;
  transform: translateY(-2px);
}

.body-right button {
  width: 100%;
  height: 36px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .box-head {
    grid-template-columns: 1fr;
    gap: 0.3rem;
    text-align: left;
  }

  .con-prod-body {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .body-right {
    margin-top: 1rem;
  }
}
